In [ ]:
a=10

In [ ]:
print('Hello Python!')
print('Tyler')

Hello Python!
Tyler

In [ ]:
a

10

In [ ]:
b = 10*2

In [ ]:
a + b

30

**Python**

*is a programming language*

In [ ]:
print('the itsy bitsy spider\nwent up the water spout\ndown came the rain\nand washed the spider out')

the itsy bitsy spider
went up the water spout
down came the rain
and washed the spider out

SyntaxError: unexpected character after line continuation character (<ipython-input-19-80050b0f74c8>, line 1)

In [ ]:
print("Programming","Essentials","in", sep='**', end='...')
print("Python")

Programming**Essentials**in...Python

In [ ]:
print(33%5)

3

In [ ]:
myname = 'Tyler'
print(myname)
print(type(myname))
print(len(myname))

Tyler
<class 'str'>
5

In [ ]:
a = 0
a += 1
print(a)

1

In [ ]:
x=1

In [ ]:
# x = x +2
x += 2
print(x)

3

**comparison operators**

In [ ]:
var = 12

In [ ]:
print(var==12)
print(var<11)

True
False

In [ ]:
temp = 20
print(temp>19)
print(2!=3)

True
True

In [ ]:
n = 10
check = n
print(check>=100)

False

In [ ]:
x = 200
y =33
if y > x:
  print('y is greater than x')
elif x > y:
  print('y is smaller than x')
else:
  print('y equals x')

y is smaller than x

In [ ]:
m =  #input('choose a number:')
if m>0:
  print('m is a positive number')
elif m<0:
  print('m is a negative number')
else :
  print('m is zero')

m is zero

In [ ]:
i = 1
while i <7:
  print(i)
  i +=1

1
2
3
4
5
6

In [ ]:
my_number=0
while my_number <=100:
  if my_number%7 ==0:
    print(my_number)
  my_number += 1

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [ ]:
x=0
while x <11:
  if x%2 ==1:
    print(x)
  x+=1

1
3
5
7
9

In [ ]:
import random
g = random.randint(1, 100)
print(g)

9

In [ ]:
while True:
  c = int(input('pick a number from one to 100 :'))
  if c > g:
      print('little lower')
  elif c <g:
      print('little higher')
  else :
      print('bingo')
      break

pick a number from one to 100 :51
little lower
pick a number from one to 100 :13
little lower
pick a number from one to 100 :9
bingo

In [ ]:
for x in 'banana':
  print(x)

fruits = ['apple','banana','berry']
for x in fruits:
  print(x, end=' ')

b
a
n
a
n
a
apple banana berry

In [ ]:
for d in range(1,51):
  print(d)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [ ]:
my_list = [10, 20, 30, 40]
for x in my_list:
  if x ==10:
    print('first element')
  elif x == 20:
    print('second element')
  elif x == 30:
    print('third element')
  elif x == 40:
    print('fourth element')
  else:
    print('false')

first element
second element
third element
fourth element

In [ ]:
for f in range(101):
  if f%2 ==0:
    print(f)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
numbers = [10, 23, 10, 45, 23, 56, 10]
a = numbers.count(10)
print(a)

3

In [ ]:
word = 'prodigious'
mylist= list(word)
print(mylist[:])
mylist[2] ='e'
print(mylist)
mylist.reverse()
print(mylist)
l1 =[1,1,3]
l2 =[2,3,1]
l3 =[3,1,2]
mylist2 = [l1,l2,l3]
print(mylist2)

['p', 'r', 'o', 'd', 'i', 'g', 'i', 'o', 'u', 's']
['p', 'r', 'e', 'd', 'i', 'g', 'i', 'o', 'u', 's']
['s', 'u', 'o', 'i', 'g', 'i', 'd', 'e', 'r', 'p']
[[1, 1, 3], [2, 3, 1], [3, 1, 2]]

In [ ]:
my_tuple = (1, 10, 100, 1000)
print(my_tuple[0])
print(my_tuple[:-2])
t1 = my_tuple + (10000,100000)
t2 =my_tuple*2
print(t2)
print(len(t2))
print(10 in my_tuple)

1
(1, 10)
(1, 10, 100, 1000, 1, 10, 100, 1000)
8
True

In [ ]:
my_set = {'apple','banana','cherry','pineapple'}
my_tuple = (1, 10, 100, 1000)
mydict = {my_tuple[:]:my_tuple[:]}
print(mydict)
print(my_set)

{(1, 10, 100, 1000): (1, 10, 100, 1000)}
{'pineapple', 'cherry', 'apple', 'banana'}

Go through the integers from 1 to 100.

If a number is divisible by 3, print "fizz."

If a number is divisible by 5, print "buzz."

If a number is both divisible by 3 and by 5, print "fizzbuzz."

Otherwise, print just the number.

In [ ]:
for x in range(1,101):
  if x%3 == 0:
    if x%5 == 0:
      print('fizzbuzz')
    else:
       print('fizz')
  elif x%5 == 0:
    print('buzz')
  else:
    print(x)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

In [4]:
import pandas as pd

In [14]:
data = {
    "calories": [420, 380, 390],
    "duration": [50, 40, 45]
}
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [10]:
d1 = ['apple','pizza','apple','banana','cherry']
d2 = ['dragon','pizza','cat','rhino','bird']
d3 = pd.crosstab(d1,d2)
print(d3)

col_0   bird  cat  dragon  pizza  rhino
row_0
apple      0    1       1      0      0
banana     0    0       0      0      1
cherry     1    0       0      0      0
pizza      0    0       0      1      0

In [16]:
from google.colab import files
uploaded = files.upload()

Saving student.csv to student.csv

In [23]:
df = pd.read_csv('student.csv')
print(df.head())

   id        name  class  mark  gender
0   1    John Deo   Four    75  female
1   2    Max Ruin  Three    85    male
2   3      Arnold  Three    55    male
3   4  Krish Star   Four    60  female
4   5   John Mike   Four    60  female

In [58]:
df[['student','mark']]
df.iloc[0:3]

   id   student  class  mark  gender
0   1  John Deo   Four    75  female
1   2  Max Ruin  Three    85    male
2   3    Arnold  Three    55    male

In [43]:
df.rename(columns={'name':'student'},inplace=True)
df['class'].value_counts()

class
Seven    10
Four      8
Six       7
Three     3
Five      2
Nine      2
Fifth     1
Eight     1
Name: count, dtype: int64

In [53]:
print(df['mark'].min())
print(df['mark'].mean())
print(df['mark'].max())
print(df['mark'].median())
print(df['mark'].describe())

18
74.65714285714286
96
79.0
count    35.000000
mean     74.657143
std      16.401117
min      18.000000
25%      62.500000
50%      79.000000
75%      88.000000
max      96.000000
Name: mark, dtype: float64

In [98]:
#gender_avg = df.groupby('gender').agg(avg_mark = ('score','mean'))
#print(gender_avg)
#pivotdf = df.pivot_table(values='score',index = 'class',columns='gender')
#pivotdf
#class_counts = df.groupby('class').count()
#print(class_counts)
#group_df = df.groupby('class').agg(mean_score = ('score','mean'))
#print(group_df)
#sortdf = df.sort_values(by = 'score',ascending=False)
#sortdf

    id      student  class  score  gender
32  33    Kenn Rein    Six     96  female
11  12        Recky    Six     94  female
31  32    Binn Rott  Seven     90  female
10  11       Ronald    Six     89  female
24  25     Giff Tow  Seven     88    male
15  16        Gimmy   Four     88    male
14  15     Tade Row    NaN     88    male
13  14         Bigy  Seven     88  female
12  13          Kty  Seven     88  female
34  35   Rows Noump    Six     88  female
30  31  Marry Toeey   Four     88    male
27  28    Rojj Base  Seven     86  female
7    8       Asruid   Five     85    male
1    2     Max Ruin  Three     85    male
26  27          NaN  Three     81     NaN
22  23        Herod  Eight     79    male
29  30    Reppy Red    Six     79  female
25  26       Crelea  Seven     79    male
8    9      Tes Qry    Six     78     NaN
6    7  My John Rob  Fifth     78    male
23  24    Tiddy Now  Seven     78    male
0    1     John Deo   Four     75  female
17  18        Honny   Five     75    male
20  21   Babby John   Four     69  female
33  34     Gain Toe  Seven     69    male
19  20       Jackly   Nine     65  female
4    5    John Mike   Four     60  female
3    4   Krish Star   Four     60  female
21  22       Reggid  Seven     55  female
9   10     Big John   Four     55  female
28  29  Tess Played  Seven     55    male
5    6    Alex John   Four     55    male
2    3       Arnold  Three     55    male
16  17        Tumyu    Six     54    male
18  19        Tinny   Nine     18    male

In [102]:
#df.loc[df['score'] >= 85, 'grade'] = 'A'
#df.loc[(df['score'] >= 70) & (df['score']<85), 'grade'] = 'B'
#df.loc[(df['score'] >= 60) & (df['score']<70), 'grade'] = 'C'
#df.loc[df['score'] < 60, 'grade'] = 'D'
#df
#fin = df
#fin
df.to_csv(,'student2.csv')

In [82]:
#df['passed'] = df['score'] >= 60
#df.rename(columns={'mark':'score'},inplace=True)
df.drop(columns=['passed'],inplace = True)
df

    id      student  class  score  gender
0    1     John Deo   Four     75  female
1    2     Max Ruin  Three     85    male
2    3       Arnold  Three     55    male
3    4   Krish Star   Four     60  female
4    5    John Mike   Four     60  female
5    6    Alex John   Four     55    male
6    7  My John Rob  Fifth     78    male
7    8       Asruid   Five     85    male
8    9      Tes Qry    Six     78     NaN
9   10     Big John   Four     55  female
10  11       Ronald    Six     89  female
11  12        Recky    Six     94  female
12  13          Kty  Seven     88  female
13  14         Bigy  Seven     88  female
14  15     Tade Row    NaN     88    male
15  16        Gimmy   Four     88    male
16  17        Tumyu    Six     54    male
17  18        Honny   Five     75    male
18  19        Tinny   Nine     18    male
19  20       Jackly   Nine     65  female
20  21   Babby John   Four     69  female
21  22       Reggid  Seven     55  female
22  23        Herod  Eight     79    male
23  24    Tiddy Now  Seven     78    male
24  25     Giff Tow  Seven     88    male
25  26       Crelea  Seven     79    male
26  27          NaN  Three     81     NaN
27  28    Rojj Base  Seven     86  female
28  29  Tess Played  Seven     55    male
29  30    Reppy Red    Six     79  female
30  31  Marry Toeey   Four     88    male
31  32    Binn Rott  Seven     90  female
32  33    Kenn Rein    Six     96  female
33  34     Gain Toe  Seven     69    male
34  35   Rows Noump    Six     88  female

In [71]:
df[df['class'] == 'Four']

    id      student class  mark  gender
0    1     John Deo  Four    75  female
3    4   Krish Star  Four    60  female
4    5    John Mike  Four    60  female
5    6    Alex John  Four    55    male
9   10     Big John  Four    55  female
15  16        Gimmy  Four    88    male
20  21   Babby John  Four    69  female
30  31  Marry Toeey  Four    88    male

In [42]:
a = df.isnull().sum()
b = df.isnull().sum().sum()
c = df[(df['mark'] > 60)& (df['gender'] == 'male')]
print(df.shape)
print(df.info())
print(a)
print(b)
print(c)

(35, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       35 non-null     int64
 1   student  34 non-null     object
 2   class    34 non-null     object
 3   mark     35 non-null     int64
 4   gender   33 non-null     object
dtypes: int64(2), object(3)
memory usage: 1.5+ KB
None
id         0
student    1
class      1
mark       0
gender     2
dtype: int64
4
    id      student  class  mark gender
1    2     Max Ruin  Three    85   male
6    7  My John Rob  Fifth    78   male
7    8       Asruid   Five    85   male
14  15     Tade Row    NaN    88   male
15  16        Gimmy   Four    88   male
17  18        Honny   Five    75   male
22  23        Herod  Eight    79   male
23  24    Tiddy Now  Seven    78   male
24  25     Giff Tow  Seven    88   male
25  26       Crelea  Seven    79   male
30  31  Marry Toeey   Four    88   male
33  34     Gain Toe  Seven    69   male

In [18]:
from google.colab import drive
drive.mount()